{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Edit {{ room.title }}</h1>
    {% include 'Include/_formRoom.html.twig' %}
    <a href="javascript:history.go(-1)">Back</a>
{% endblock %}
