{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Edit item {{ item.name }}</h1>
    {% include 'Include/_form.html.twig' %}
    <a href="javascript:history.go(-1)">Back</a>
{% endblock %}
