{% extends 'layout.html.twig' %}

{% block title  %}
	showRoom
{% endblock %}

{% block content %}
	 
   <div class="temoignages">
		<h3 class="title-temoignage">Temoignages</h3>
         
		 <div class="list-temoignage">
      
	  <div class="temoignage"> 
	  <div class="en-tete">
			<img src="https://picsum.photos/50/50" alt="">
			<div>
			<h6>Charlie</h6>
			<p class= "localisation"> Angleterre, Royaume-Uni </p>
			<p><i>Septembre 2023</i></p>
			</div>
			</div>
			<p><i>Endroit incroyable. Superbe et paisible. La maison est impeccablement meublée et tout fonctionne</i></p>
		</div>
		
      <div class="temoignage">
	        <div class="en-tete"> 
			<img src="https://picsum.photos/50/50" alt="">
			<div>
			<h6>Charlie</h6>
	        <p class= "localisation"> Angleterre, Royaume-Uni </p>
			<p><i>Septembre 2023</i></p>
			</div>
			</div>
			<p><i>Endroit incroyable. Superbe et paisible. La maison est impeccablement meublée et tout fonctionne</i></p>
		</div>
		
      <div class="temoignage">
	        <div class="en-tete">
			<img src="https://picsum.photos/50/50" alt="">
			<div>
			<h6>Charlie</h6>
			<p class= "localisation"> Angleterre, Royaume-Uni </p>
			<p><i> Septembre 2023</i></p>
			</div>
			</div>
			<p><i>Endroit incroyable. Superbe et paisible. La maison est impeccablement meublée et tout fonctionne</i></p>
		</div>
		</div>
	</div>


{% endblock %}
