{% extends 'layout.html.twig' %}

{% block banner %}
        <img class='rooms-img' id='clip_accueil' src="https://picsum.photos/1920/200" alt="">
{% endblock %}

{% block content %}
    <h1>Items</h1>
        <ul class='index-ul'>
            <div class='grid'>
            {% for item in items %}
                <div>
                    <li><a href="/items/show?id={{ item.id }}">{{ item.id }}. {{ item.title }}</a></li>
                    <article>
                        <img src="https://fastly.picsum.photos/id/866/200/300.jpg?hmac=rcadCENKh4rD6MAp6V_ma-AyWv641M4iiOpe1RyFHeI" alt="" class="room_img">
                        <div class='room_description'>
                            <p>Name of the room</p>
                            <p>Room type</p>
                            <p>Bed number and bed type</p>
                            <p>Room description :</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic dolorum impedit distinctio veritatis dolorem a!
                            Molestiae fugiat nulla veniam ratione odio quos commodi rem deleniti voluptate error explicabo, nobis architecto!</p>
                        </div>
                    </article>
                </div>
            {% else %}
                <li>Nothing to display</li>
            {% endfor %}
            </div>
        </ul>
    <a href="/items/add">Ajouter</a>
{% endblock %}
