{% extends 'layout.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block banner %}
    <img src="https://picsum.photos/1920/200" class="bannerhero" alt="Bannière de l'accueil">
{% endblock %}

{% block content %}
    <h1>Bienvenu à Strasgite</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet labore adipisci earum voluptates, repellendus at fugit expedita! Et eligendi autem repudiandae optio, laboriosam pariatur tempora nulla veritatis dolorem modi culpa. Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita ab eum consequatur, harum et nihil minima natus temporibus necessitatibus quis id animi impedit iste officia. Ducimus molestiae non unde officia.</p>
    <img src="https://picsum.photos/200/300/?blur" alt="Image de présentation">
{% endblock %}