{% extends 'layout.html.twig' %}

{% block banner %}
    <img src="https://picsum.photos/1920/200" alt="">
    <p>Ceci est notre 2e bannière</p>
{% endblock %}

{% block content %}
    <h1>C'est un test pour une page alternative</h1>
{% endblock %}
