{% extends 'layout.html.twig' %}

{% block banner %}
Bisous Ceci est une banner
<img src="https://picsum.photos/seed/picsum/1920/200" alt="">
{% endblock %}

{% block content %}
<h1>Ceci est un test pour te montrer le layout</h1>
{% endblock %}
