{% extends 'layout.html.twig' %}

{% block banner %}
Bisous Ceci est une banner
<div class='img-container'>
    <img src="assets/images/facade.jpg" id='clip_accueil' alt="">
</div>
{% endblock %}

{% block content %}
<h1>Ceci est un test pour te montrer le layout</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque porro neque possimus ipsum numquam est doloribus aut, eveniet eligendi magnam esse iure quibusdam, expedita culpa odit accusantium consequatur voluptatibus asperiores?
Laudantium cupiditate placeat enim commodi, nulla nemo. Incidunt quo quos non alias, inventore culpa placeat soluta autem facere aspernatur aut at sunt aliquid enim voluptas necessitatibus, illum suscipit excepturi? Sapiente?
Atque nobis voluptatem dolorem ipsa eum amet reiciendis velit consequatur dolores nam ipsum fuga voluptates sunt doloribus quod tenetur, odio quas. Ex ipsam assumenda tempora animi ad suscipit perspiciatis quaerat.
Sequi, in. Ab accusamus possimus officiis fuga neque sequi, veniam, et nesciunt deleniti pariatur molestias ipsum rem, quia quidem veritatis earum ipsam nisi nihil repellendus doloribus quos aspernatur. Vel, cupiditate.
Libero a ullam autem exercitationem eum laudantium, nisi hic fugit eveniet totam placeat deleniti porro. Accusamus a consectetur beatae aut distinctio doloribus officia sunt rerum iure asperiores, magni earum quis!
Recusandae, ipsam ullam? Ea animi fugiat ducimus maxime ullam esse est aspernatur molestias, dolores velit illum dignissimos asperiores exercitationem obcaecati dolore quasi, vitae repellat possimus iusto veniam dolorem nisi. Voluptate.
Ratione sint voluptates reprehenderit neque provident, in distinctio hic doloremque quam aperiam. Iusto tempore labore tempora quis, placeat similique eum. Facilis expedita distinctio itaque quisquam fugit, aliquam tenetur voluptates maiores?
Ab similique omnis ratione corporis, necessitatibus autem eum itaque illo dolores, quasi pariatur accusamus tempore? Vel, aliquam cupiditate! Aliquam, culpa consectetur! Ut ullam iure unde laudantium dolores quisquam cupiditate! Consequatur.
Fuga id saepe sequi unde voluptatibus qui, rerum sit cumque nostrum possimus non inventore tempora, eveniet est? Velit fugit sequi commodi iusto iure ab tempora. Assumenda modi quas reiciendis laboriosam!
Fugit obcaecati totam nobis aliquam enim consequatur, deserunt consequuntur modi, ex veniam ullam facilis possimus qui tempora corporis accusantium delectus provident! Dolores voluptatibus quos ipsum ea pariatur, blanditiis in illo.</p>
{% endblock %}
