{% extends 'layout.html.twig' %}

{% block banner %}
    <img src="/assets/images/Dashboardbanner.jpg" id='clip_accueil' alt="Dashboard Bannière">
{% endblock %}

{% block content %}
    <h1>Edition du profil de {{ user.firstname }}</h1>
    {% include 'Include/_formUser.html.twig' %}
    <a href="/profile">Back</a>
    </br>
    <a href="/profile/modif/delete?id={{ user.id }}">Souhaitez vous supprimer votre profil ? Cette action est irréversible.</a>
{% endblock %}
