{% extends 'layout.html.twig' %}

{% block banner %}
    <img src="/assets/images/Dashboardbanner.jpg" id='clip_accueil' alt="Dashboard Bannière">
{% endblock %}

{% block content %}
    <div class="dashboard">
        <div class="dashboardTitle">
            <img src="/assets/images/roue-dentee (1).png" alt="Logo roue crantée">
            <h2> Interface administrateur > Gestion des services </h2>
        </div>
    </div>
{% endblock %}