footer {
    display: flex;
    margin-top: auto;
    justify-content: center;
    color: var(--font-colour);
    background-color: var(--primary-colour);
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    position: fixed;
    bottom: 0;
    left: 0;
    width:100%;
}

footer ul {
    display: flex;
    align-items: center;
    padding-inline: 1rem;
    /* list-style-type: "/ "; */
}

footer ul > li {
    margin-inline: 1rem;
}
