nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #D9B368;
}

nav img {
    height: 10rem;
    margin-block: 1rem;
}

.navlist {
    display: flex;
    align-items: center;
    /* list-style-type: "/ "; */
}

.bannerhero {
    width:100%;
}