main {
    text-align: center;
    font-family: var(--body-font);
    box-sizing: content-box;
    margin-inline: 25%;
}

h1, h2, h3 {
    font-family: var(--titles-font);
}


p {
    color: var(--font-colour);
    text-align: center;
}
