.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: content-box;
}


main .index-ul {
    display: block;
    padding: 0;
    list-style: none;
}

article {
    display: flex;
    border: 10px solid var(--tertiary-colour);
    height: 100%;
}

article p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: left;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.room_description {
    display: flex;
    flex-direction: column;
    min-width:10rem;
}

.room_img {
    width: 25rem;
    height: 14rem;
}

.room_img img {
    height: 100%;
    width: 100%;
}

.admin-panel {
    border: 2px solid var(--primary-colour);
    border-radius: 16px;
    width: 20rem;
    margin-inline: auto;
    margin-bottom: 2rem;
    font-size: large;
}

.form-delete-btn {
    margin-top: 0.5rem;
}

.type-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.type-div a {
    margin-right: 1rem;
    text-decoration: none;
    background-color: var(--primary-colour);
    padding: 0.3rem;
    border-radius: 8px;
    color: white;
}

.type-div a:hover {
    background-color: var(--secondary-colour);
    transition: 0.5s;
}

.text-and-image {
    display: flex;
    justify-content: space-between;
}

.text-and-button {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1000px) {
    .grid {
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .type-div a {
        width: 3rem;
        height: 5rem;
    }
}
