.dashboard-card {
    margin-block: 2.5rem;
    border-radius: 25px 0px 25px 0px;
    border: 3px solid var(--tertiary-colour);
    font-size: 1.2rem;
    width: 33%;
} 
.title-avis {
    font-size: 0.75rem;
}

.paragraph-avis {
    font-size : 0.75rem;
}
.temoignages {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

} 
.title-temoignage {
    display: flex ;
    justify-content: flex-start;
}