.list-temoignage {
    display: flex;
    justify-content: flex-start;
}


.temoignages {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: solid black;
    gap: 10px;

}

.en-tete {
    display: flex;
}

.listing-temoignages {
    display: flex;
}