
<h3>Contact :</h3>
<ul>
    <li>Téléphone : 03.88.12.34.45</li>
    <li>TestGite@gite-de-france.fr</li>
    <li>35 Quai Mullenheim, 67000 Strasbourg</li>
    <div class="socials">
        <img src="#" alt="FB">
        <img src="#" alt="Insta">
    </div>
</ul>


