
<h3>&copy; StrasGite</h3>
<ul class="footerLinks">
    <li><a href="/contact"><i class="bi bi-phone"></i> 03 88 12 34 45</a></li>
    <li><a href="/contact"><i class="bi bi-envelope"></i> contact@strasgite.fr</a></li>
    <li><a href="https://maps.google.com/maps?ll=48.592292,7.765961&z=15&t=m&hl=fr&gl=FR&mapclient=embed&q=35%20Quai%20Mullenheim%2067000%20Strasbourg"><i class="bi bi-geo-alt"></i> 35 Quai Mullenheim, 67000 Strasbourg</a></li>
</ul>
<div class="socials">
    <a href="#"><i class="bi bi-facebook"></i></a>
    <a href="#"><i class="bi bi-instagram"></i></a>
</div>

