<nav>
    <img src="/assets/images/logo2.png" alt="logo_en_png">
    <ul class="navlist">
        <li><a href="new">Accueil</a></li>
        <li><a href="#">Nos Chambres</a></li>
        <li><a href="#">Nous contacter</a></li>
    </ul>
    <div class='connect'>
        <a href="#">Connexion / S'inscrire</a>
    </div>
</nav>

