<nav>
    <a href="/"><img src="/assets/images/logo2.png" alt="logo_en_png"></a>
    <ul class='header-navbar-ul'>
        <li><a href="/">Accueil</a></li>
        <li><a href="/rooms">Nos Chambres</a></li>
        <li><a href="#">Nous contacter</a></li>
    </ul>
    <div class='connect'>
        {% if user %}
            <a href="/profile">Votre compte</a>
        {% else %}
            <a href="/connect">Connexion / S'inscrire</a>
        {% endif %}
    </div>
</nav>

