<nav>
    <img src="/assets/images/logo2.png" alt="logo_en_png">
    <ul class='header-navbar-ul'>
        <li><a href="/">Accueil</a></li>
        <li><a href="rooms">Nos Chambres</a></li>
        <li><a href="#">Nous contacter</a></li>
    </ul>
    <div class='connect'>
        <a href="#">Connexion / S'inscrire</a>
    </div>
</nav>

