{% extends 'layout.html.twig' %}

{% block content %}
    <form class='form-avis' method="post">
	<input type="hidden" value="{{ room.id }}" name="id">
    <input type="hidden" value="{{ username.firstname }}" name="username">
	{#<label for="name">Name</label> #}
	{# <input type="text" value="{{ room.title }}" name="name" id="name"> #}
    <label for="description">Votre avis nous intéresse !</label>
	<textarea name="description" id="description" rows="5" cols="33" required></textarea>
	<button>Submit</button>
    </form>
{% endblock %}
